<div class="container">
    <h1 class="text-center">TODO LIST</h1>
    <button routerLink="/add-task" class="btn btn-sm btn-primary mb-2">Add new task</button>
    <!-- Show if there's no task -->
    <div class="no_tasks" *ngIf='taskServ.tasks.length == 0'>
        <p class="alert alert-primary">There's no tasks</p>
    </div>

    <!-- Show if there's tasks -->
    <div class="tasks " *ngIf='taskServ.tasks.length != 0'>
        <ul class="list-group">
            <li class="list-group-item mb-2 d-flex justify-content-between" *ngFor='let task of taskServ.tasks; index as i'>
                <a [routerLink]="['/task', i]" routerLinkActive="router-link-active" >{{task.title}}</a>
                <button class="btn btn-sm btn-danger" (click)='delTask(i)'>Delete</button>
            </li>
        </ul>
    </div>
</div>
